<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name%>'>

<div id="side">
	<li><%= link_to 'Home', controller: 'store', action: 'index' %></li>
	<li><%= link_to "Produtos", controller: "products", action: 'index' %></li>
</div>
<%= yield %>

</body>
</html>
